#[include fluidd.cfg]
#[virtual_sdcard]
#path: /home/riddle/printer_data/gcodes
#on_error_gcode: CANCEL_PRINT

#####################################################################
# Functions
#####################################################################

[endstop_phase]
    
[idle_timeout]
gcode: TURN_OFF_HEATERS_IF_IDLE
timeout: 1800

[exclude_object]

[gcode_arcs]
resolution: 1.0

[force_move]
enable_force_move: True

[rounded_path]
resolution: 0.2 # the length of a circle approximation segments.
replace_g0: False # Use at your own risk

[input_shaper]

#####################################################################
# Includes
#####################################################################

[include bed.cfg]
[include beeper.cfg]
[include communication.cfg]
[include extruder.cfg]
[include kinematics.cfg]
[include led.cfg]
[include macro.cfg]
[include probe.cfg]
[include sensors.cfg]
[include shell_command.cfg]

#[include toolhead_sb.cfg]
#     [include temp_tool.cfg]
[include toolhead_0.cfg]
[include toolhead_1.cfg]

[include nozzle_align.cfg]
[include toolchanger.cfg]
[include tool_detection.cfg]
[include liftbar.cfg]
[include toolchanger_macro.cfg]
[include homing.cfg]

[include mainsail.cfg]
[include KAMP_Settings.cfg]

[delayed_gcode set_ready_led]
initial_duration: 1
gcode:
        set_led_active_tool TOOL={printer.tool_probe_endstop.active_tool_number}
        STATUS_READY

[delayed_gcode resetwebcam]
initial_duration: 1
gcode:
        RESTART_CROWSNEST
        
#
# (zprobe) - (bra offset) = (ny zprobe)
# Ex. om zprobe är -0.380 och bra offset är 0.140, då, (-0.370)-(0.080) = -0.45
# Ny zprobe är då -0.45

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.042014, 0.104514, 0.094514, 0.102014, 0.112014, 0.062014
#*# 	0.069514, 0.114514, 0.122014, 0.117014, 0.109514, 0.044514
#*# 	0.069514, 0.102014, 0.109514, 0.119514, 0.104514, 0.037014
#*# 	0.047014, 0.092014, 0.122014, 0.127014, 0.109514, 0.044514
#*# 	0.074514, 0.099514, 0.117014, 0.117014, 0.119514, 0.079514
#*# 	0.104514, 0.149514, 0.159514, 0.167014, 0.154514, 0.124514
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 30.0
#*# max_x = 320.0
#*# min_y = 30.0
#*# max_y = 320.0
